name: github workflow 
on:
  push: 
    branches: [main]
  workflow_dispatch:
jobs:
  hello-jobs:
    name: hello-world
    runs-on: ubuntu-latest 

    steps:
      - name: checkout code
        uses: actions/checkout@v4
      # Step 2: Print a simple message
      